# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.json

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directories
coverage/
.nyc_output/

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Caches and temporary files
.npm/
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_*/
.node_repl_history
.cache/
.parcel-cache/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.temp/

# Build outputs
build/Release
*.tgz
.next/
out/
.nuxt/
dist/
.vuepress/dist/

# Environment variables and secrets
.env*
!config/default.json

# Application specific ignore
config/prod.json
package-lock.json
npm/*
gpt-terminal-plus@1.0.0/

# IDE specific files
.vscode-test/

# Yarn Berry
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
.pnp.*
